{% extends 'base.html' %}
{% block title %}
    {{ name }}
{% endblock title %}
{% block content %}
    {% if threads %}
        {% for thread in threads %}
        <div class="post">
            {% for post in thread.post_set.all %}
                
                {% if post.id == thread.post_set.first.id %}
                    <div>
                    <p class="post-title">{{ thread.title }}</p>
                    <p class="post-author">Анон</p>
                    <p class="post-date">{{ thread.date|date:'Y-m-d H:i' }}</p>
                    <p class="post-id">#{{ thread.post_set.first.id }}</p>
                {% else %}
                    <div class="post reply">
                    <p class="post-author">Анон</p>
                    <p class="post-date">{{ post.date|date:'Y-m-d H:i' }}</p>
                    <p class="post-id">#{{ post.id }}</p>                    
                {% endif %}
                <p class="post-content">
                {% for file in post.attachment_set.all %}
                    <img src="{{file.file.url}}">
                {% endfor %}
                {{ post.content }}</p>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>Хм... На этой доске пока нет постов. Будь первым, Анон!</p>
    {% endif %}
{% endblock content %}