{% extends 'base.html' %}
{% block title %}
    {{ name }}
{% endblock title %}
{% block content %}
    <div class='post'>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ thread_form.as_p }}
            <div style="display: flex; justify-content: center; margin-bottom: 3px;"><button type="submit" name="new_thread">Создать тред</button></div>
        </form>
    </div>
    {% if threads %}
        {% for thread in threads %}
        <div class="post">
            {% for post in thread.post_set.all %}
                
                {% if post.id == thread.post_set.first.id %}
                    <div id="{{post.local_id}}">
                    <p class="post-title">{{ thread.title }}</p>
                    <p class="post-author">Анон</p>
                    <p class="post-date">{{ thread.date|date:'Y-m-d H:i' }}</p>
                {% else %}
                    <div class="post reply" id="{{post.local_id}}">
                    <p class="post-author">Анон</p>
                    <p class="post-date">{{ post.date|date:'Y-m-d H:i' }}</p>
                {% endif %}
                <p class="post-id">
                    <a href="#{{ post.local_id }}">#</a><a href="thread/{{ thread.post_set.first.local_id }}#{{ post.local_id }}">{{ post.local_id }}</a>
                </p>
                <div class="post-content">
                    {% for file in post.attachment_set.all %}
                        <div class="attachment">
                            <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a>
                            <img src="{{file.file.url}}">
                        </div>
                    {% endfor %}
                    <span class="post-text">{{ post.content|linebreaks }}</span>
                    </div>
                </div>
            {% endfor %}
        <div class='post reply' hidden>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="board" value="{{ board }}">
            <input type="hidden" name="thread" value="{{ thread.id }}">
            <textarea name="content" placeholder="Написать ответ в тред..." required></textarea>
            <br>
            <div style="display: flex; justify-content: center; margin-bottom: 3px;"><button type="submit" name="reply">Ответить</button></div>
        </form>
        </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Хм... На этой доске пока нет постов. Будь первым, Анон!</p>
    {% endif %}



    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; [первая]</a>
            <a href="?page={{ page_obj.previous_page_number }}">[предыдущая]</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">[следующая]</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">[последняя] &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock content %}