{% extends 'base.html' %}
{% block title %}
Домяшняя стряниця
{% endblock title %}
{% block content %}
    {% if boards %}
        <h1>Добро пожаловать, Анон</h1>
        Тебя могут заинтересовать следующие тематические доски:
        <ul>
        {% for board in boards %}
            <li> <a href="{% url 'board' board.code %}"> /{{board.code}}/ — {{board.name}} </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Добро пожаловать. Для начала зайдите в /admin и вручную создайте ваши доски</p>
    {% endif %}
{% endblock content %}